<template>
  <v-app>

    <!-- Useless right now. Will be activated with more stats available maybe -->
<!--    <v-navigation-drawer-->
<!--        v-model="drawer"-->
<!--        app-->
<!--        clipped-->
<!--    >-->
<!--    </v-navigation-drawer>-->

    <v-app-bar
        app
        clipped-left
        flat
    >
<!--      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>-->
      <v-icon class="mx-2" color="primary">$vuetify.icons.logo</v-icon>

      <!-- Title with fancy animation -->
      <v-hover
          v-slot:default="{ hover }"
          open-delay="200">
        <v-toolbar-title class="mr-12 align-center title" color="primary">
          <div class="title-unity">Admi</div>
          <div class="title-bridge" :class="hover ? 'title-bridge-hover' : '' ">
            <span class="title-unity">n</span> <span class="title-initializr">Ini</span>
          </div>
          <div class="title-initializr" :class="hover ? 'title-initializr-hover' : '' ">tializr</div>
        </v-toolbar-title>
      </v-hover>

      <v-spacer></v-spacer>


    </v-app-bar>

    <v-content>
      <v-container fluid>
        <!-- Daily Count stats -->
        <daily-count-stats/>
      </v-container>
    </v-content>

    <!-- error snackbar -->
    <v-snackbar
        vertical
        color="error"
        :timeout="errorTimeout"
        :value="this.$store.state.error.message"
    >
      <v-card-title class="message">
        {{ this.$store.state.error.message }}
      </v-card-title>
      <v-card-subtitle class="details">
        {{ this.$store.state.error.details }}
      </v-card-subtitle>
      <v-btn
          outlined
          @click="closeError()"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-app>
</template>

<script>
import DailyCountStats from "@/components/DailyCountStats";

export default {
  name: 'Home',
  components: {DailyCountStats},
  data: () => ({
    drawer: false,
    loading: true,
    aboutDialog: false,
    errorTimeout: 0
  })

  ,
  computed: {},

  methods: {
    closeError: function () {
      this.$store.state.error = {message: "", details: ""};
    },
  },

  mounted() {
  },
};
</script>

<style scoped>

/* Title animation bridge.
  Sad hard coded width, auto value not supported for animation
  Good to note it will not work on small devices if screen width is too small (but that's not really a critical functionality...)
 */
.title-bridge-hover {
  width: 40px;
}

</style>
