<template>
  <v-app>

    <v-navigation-drawer
        v-model="drawer"
        app
        clipped
    >
      <!-- Templates list -->
      <Templates ref="templates"/>
    </v-navigation-drawer>

    <v-app-bar
        app
        clipped-left
        flat
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <!-- App Title with little fancy animation -->
      <v-icon class="mx-2" color="primary">$vuetify.icons.logo</v-icon>
      <v-hover
          v-slot:default="{ hover }"
          open-delay="200">
        <v-toolbar-title class="mr-12 align-center title" color="primary">
          <div class="title-unity">Uni</div>
          <div class="title-bridge" :class="hover ? 'title-bridge-hover' : '' ">
            <span class="title-unity">ty</span> <span class="title-initializr">Ini</span>
          </div>
          <div class="title-initializr" :class="hover ? 'title-initializr-hover' : '' ">tializr</div>
        </v-toolbar-title>
      </v-hover>

      <v-spacer></v-spacer>

      <!-- Dark mode controller -->
      <v-btn icon @click="changeMode()" class="ma-3">
        <v-scroll-y-transition leave-absolute hide-on-leave>
          <v-icon v-if="$vuetify.theme.dark" color="primary">mdi-white-balance-sunny</v-icon>
        </v-scroll-y-transition>

        <v-scroll-y-transition leave-absolute hide-on-leave>
          <v-icon v-if="!$vuetify.theme.dark" color="primary">mdi-weather-night</v-icon>
        </v-scroll-y-transition>
      </v-btn>

      <!-- About -->
      <v-dialog v-model="aboutDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <template v-slot:activator="{ on }">
          <v-btn v-if="$vuetify.breakpoint.smAndDown" color="primary" icon
                 v-on="on">
            <v-icon>mdi-help</v-icon>
          </v-btn>
          <v-btn v-else color="primary" outlined
                 v-on="on">About
          </v-btn>
        </template>
        <About v-on:close="aboutDialog = false"/>
      </v-dialog>

    </v-app-bar>

    <v-content>
      <v-container class="content fill-height">
        <v-row>
          <v-col cols="12">
            <!-- Project Configuration : Name and Unity version -->
            <ProjectConfig/>
          </v-col>
        </v-row>

        <v-row>
          <v-divider class="mb-5"/>
        </v-row>

        <v-row class="data-row">
          <!-- Project Structure : Files and directories treeview -->
          <v-col md="6" cols="12"
                 class="files-col pr-5">
            <project-files/>
          </v-col>

          <!-- Packages -->
          <v-col md="6" cols="12"
                 class="pl-5">
            <project-packages/>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer fixed>
      <Footer ref="footer"
              @saveTemplate="saveTemplate()"
              @getProject="getProject()"/>
    </v-footer>

    <!-- All snackbar are controller by the store state -->

    <!-- confirmation snackbar -->
    <v-snackbar
        color="success"
        :timeout="confirmationTimeout"
        v-model="showConfirmation"
        top
    >
      <v-row justify="center"> {{ this.$store.state.confirmation.message }}</v-row>
    </v-snackbar>

    <!-- warning snackbar -->
    <v-snackbar
        color="warning"
        :timeout="warningTimeout"
        v-model="showWarning"
    >
      <v-row justify="center"> {{ this.$store.state.warning.message }}</v-row>
    </v-snackbar>

    <!-- error snackbar -->
    <v-snackbar
        vertical
        color="error"
        :timeout="errorTimeout"
        :value="this.$store.state.error.message"
    >
      <v-card-title class="message">
        {{ this.$store.state.error.message }}
      </v-card-title>
      <v-card-subtitle class="details">
        {{ this.$store.state.error.details }}
      </v-card-subtitle>
      <v-btn
          outlined
          @click="closeError()"
      >
        Close
      </v-btn>
    </v-snackbar>

  </v-app>
</template>

<script>
// @ is an alias to /src

import ProjectFiles from "../components/ProjectFiles";
import ProjectPackages from "../components/ProjectPackages";
import ProjectConfig from "../components/ProjectConfig";
import Templates from "../components/ProjectTemplates";
import About from "../components/About";
import Footer from "../components/Footer";
import {saveAs} from 'file-saver';

export default {
  name: 'Home',
  components: {
    Templates,
    About,
    Footer,
    ProjectConfig,
    ProjectPackages,
    ProjectFiles
  },

  data: () => ({
    drawer: false,
    aboutDialog: false,
    errorTimeout: 0,
    confirmationTimeout: 3000,
    warningTimeout: 3000
  }),

  computed: {
    showConfirmation: {
      get() {
        return this.$store.state.confirmation.show;
      },
      set(value) {
        this.$store.commit('updateConfirmationState', value)
      }
    },

    showWarning: {
      get() {
        return this.$store.state.warning.show;
      },
      set(value) {
        this.$store.commit('updateWarningState', value)
      }
    },
  },

  methods: {
    changeMode: function () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
    closeError: function () {
      this.$store.state.error = {message: "", details: ""};
    },

    // getProject requests project as ZIP to the backend
    getProject: function () {
      this.$store.state.loading = true;

      let axiosOptions = {
        responseType: 'arraybuffer',
        headers: {
          'Content-Type': 'application/json'
        }
      }

      // Encode the project files in base64 to avoid all the embedding problems for yaml or other format in json POST body
      let encodedProject = this.encodeProjectFiles(this.$store.state.project);
      // Get remote templates
      this.$backend.post('projects', encodedProject, axiosOptions)
          .then((response) => {
            this.$store.state.loading = false;

            // Response is zip file, save it with FileSaver.js
            const blob = new Blob([response.data], {
              type: 'application/octet-stream'
            })
            const filename = this.$store.state.project.name + '.zip'
            saveAs(blob, filename)
          })
          .catch((e) => {
            this.$store.state.loading = false;
            this.$store.commit('showError',
                {
                  message: "Error creating project",
                  details: e.message
                });
          });
    },
    saveTemplate: function () {
      this.$refs.templates.saveTemplate();
    }

  },

  created() {
    // on init, show drawer on wide screen, hide on small
    this.drawer = this.$vuetify.breakpoint.lgAndUp;

    this.$store.state.loading = true;

    // Get Unity Versions. A version contains all the packages (verified/preview/built-in) related.
    this.$backend.get('versions')
        .then((response) => {
          let versions = response.data
          this.$store.commit('updateVersions', versions);
          this.$store.state.loading = false;
        })
        .catch((e) => {
          this.$store.state.loading = false;
          this.$store.commit('showError',
              {
                message: "Error getting Unity versions",
                details: e.message
              });

        });

    // Shortcuts configuration
    this._keyListener = function (e) {
      if (this.$store.state.busy || this.$store.state.loading)
        return;

      // Enter key
      if (e.keyCode === 13 && (e.ctrlKey || e.metaKey)) {
        e.preventDefault();

        this.getProject();
      } else if (e.key === "s" && (e.ctrlKey || e.metaKey)) {
        e.preventDefault(); // present "Save Page" from getting triggered.

        this.saveTemplate();
      }
    };

    document.addEventListener('keydown', this._keyListener.bind(this));
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this._keyListener);
  }
};
</script>

<style scoped>

.content {
  padding-bottom: 80px;
}

.data-row {
  /*OK.. OK... It is what it looks like... a fucking dirty hack cause I just lost 1 HOUR searching
  why there is a scrollbar and I couldn't find! I GIVE UP! I WANT MY LIFE BACK! FUCK CSS!... I'm fine... totally fine...*/
  height: calc(100% - 120px);
}

.files-col {
  border-right: lightgrey solid 1px;
}

/* Title animation bridge.
  Sad hard coded width, auto value not supported for animation
  Good to note it will not work on small devices if screen width is too small (but that's not really a critical functionality...)
 */
.title-bridge-hover {
  width: 45px;
}
</style>
