<template>
  <v-card>
    <v-toolbar dark flat color="primary">
      <v-toolbar-title>About</v-toolbar-title>
      <v-spacer/>
      <v-btn icon @click="$emit('close')">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-list three-line subheader>
      <v-list-item>
        <v-list-item-content class="text-center">
          <!-- RedGirafeGames Logo -->
          <v-row justify="center" align="center">
            <v-col align="center">
              <v-img class="logo" max-width="350" contain src="../assets/Logo_redgirafegames.png">
              </v-img>
            </v-col>
          </v-row>
          <!-- RedGirafeGames URL -->
          <v-list-item-title>Open source project created by <a href="http://www.redgirafegames.com" target="_blank">RedGirafeGames</a>
          </v-list-item-title>
          <!-- Spring URL -->
          <v-list-item-subtitle>Strongly inspired by the great <a href="https://start.spring.io/" target="_blank">
            Spring Initializr </a></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-row>
        <v-col>
          <!-- Front end data Card -->
          <v-card
              class="mx-auto"
              max-width="350"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">Front</v-list-item-title>
                <v-list-item-subtitle>Hosted on <a href="https://www.netlify.com/" target="_blank">Netflify</a>
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                  color="accent"
              >
                <v-icon large color="white">mdi-vuejs</v-icon>
              </v-list-item-avatar>
              <v-list-item-avatar
                  color="accent"
              >
                <v-icon large color="white">mdi-vuetify</v-icon>
              </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
              <v-spacer/>
              <v-btn outlined color="primary"
                     href="https://bitbucket.org/redgirafegames/unitializr-front/src/master/"
                     target="_blank">
                <v-icon left>mdi-git</v-icon>
                Get Project
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col>

          <!-- Back end data Card -->
          <v-card
              class="mx-auto"
              max-width="350"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1">Back</v-list-item-title>
                <v-list-item-subtitle>Hosted on <a href="https://www.heroku.com/" target="_blank">Heroku</a>
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                  color="accent"
              >
                <v-icon large color="white">mdi-language-go</v-icon>
              </v-list-item-avatar>
              <v-list-item-avatar
                  color="accent"
              >
                <v-icon large color="white">mdi-database</v-icon>
              </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
              <v-spacer/>
              <v-btn outlined color="primary"
                     href="https://bitbucket.org/redgirafegames/unitializr-back/src/master/"
                     target="_blank">
                <v-icon left>mdi-git</v-icon>
                Get Project
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

      </v-row>

    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "About"
}
</script>

<style scoped>
.logo {
  background-color: white;
  border: white solid 1px;
  border-radius: 50%
}
</style>