<template>
  <v-card
      class="mt-4 mx-auto"
      max-width="800"
  >
    <v-sheet
        class="v-sheet--offset mx-auto"
        color="primary"
        elevation="5"
        max-width="calc(100% - 32px)"
    >
      <v-sparkline
          :labels="statGetProjectDates"
          :value="statGetProjectValues"
          color="white"
          line-width="2"
          padding="16"
      ></v-sparkline>
    </v-sheet>

    <v-card-text class="pt-0">
      <v-card-title>Daily Stats Count</v-card-title>
      <v-card-subtitle>Action : {{ this.actionGetProject }}</v-card-subtitle>

      <v-card-subtitle>
        <v-icon
            class="mr-2"
            small
        >
          mdi-chart-bell-curve
        </v-icon>
        <span class="caption grey--text font-weight-light">Max {{ this.statGetProjectMax }} </span>
        <span class="caption grey--text font-weight-light ml-3">Min {{ this.statGetProjectMin }} </span>
      </v-card-subtitle>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "DailyCountStats",
  data: () => ({
    statGetProjectDates: ["-","-"],
    statGetProjectValues: [0,0],
    statGetProjectMax: -1,
    statGetProjectMin: -1,
    actionGetProject: "GETPROJECT"
  }),

  mounted() {
    /*
    Admin backend is protected with basic auth.
    The credentials must be set in the url to make it simple
    example : http://localhost:8080/#/admin?user=admin&pass=MyPass
     */
    let userName = this.$route.query.user;
    let userPass = this.$route.query.pass;
    this.$store.state.loading = true;

    // Get remote templates
    this.$backend.get('admin/stats/daily', {
      auth: {
        username: userName,
        password: userPass
      }
    })
        .then((response) => {
          let dailyCountStats = response.data;

          this.statGetProjectDates = [];
          this.statGetProjectValues = [];

          function compare(statA, statB) {

            const dateA = new Date(statA.year, statA.month - 1, statA.day, 0, 0, 0, 0);
            const dateB = new Date(statB.year, statB.month - 1, statB.day, 0, 0, 0, 0);

            if (dateA > dateB)
              return 1
            if (dateA < dateB)
              return -1
            else
              return 0
          }

          dailyCountStats.sort(compare);
          dailyCountStats = dailyCountStats.filter(stat => stat.action === this.actionGetProject);

          dailyCountStats.forEach(dailyStat => {
            this.statGetProjectDates.push(dailyStat.month + "/" + dailyStat.day + "/" + dailyStat.year);
            this.statGetProjectValues.push(dailyStat.count);
            if (this.statGetProjectMax == -1 || dailyStat.count > this.statGetProjectMax)
              this.statGetProjectMax = dailyStat.count;
            if (this.statGetProjectMin == -1 || dailyStat.count < this.statGetProjectMin)
              this.statGetProjectMin = dailyStat.count;
          });

          this.$store.state.loading = false;
        })
        .catch((e) => {

          this.$store.state.loading = false;
          this.$store.commit('showError',
              {
                message: "Error requesting daily count stats",
                details: e.message
              });

        });
  }
}
</script>

<style scoped>

</style>