<template>
  <v-row align="center" justify="center">
    <!-- Save Template -->
    <v-btn large color="primary" outlined class="mx-2 mt-1 mb-1"
           @click="$emit('saveTemplate')"> Save Template {{ this.$vuetify.breakpoint.lgAndUp ? '(ctrl + S)' : '' }}
    </v-btn>
    <!-- Get Project -->
    <v-btn large color="primary" outlined class="mx-2 mt-1 mb-1"
           @click="$emit('getProject')"> Get Project {{ this.$vuetify.breakpoint.lgAndUp ? '(ctrl + enter)' : '' }}
    </v-btn>
  </v-row>
</template>

<script>
export default {

  name: "Footer",

  methods: {},
}
</script>

<style scoped>

</style>