<template>
  <svg
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      width="512mm"
      height="512mm"
      viewBox="0 0 512 512"
      version="1.1"
      id="svg8">
    <g
        id="layer2"
        style="display:none">
      <path
          style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 207.8869,117.92857 -48.38095,71.05952 98.27381,5.29167 39.30951,-83.91071 z"
          id="path849"/>
      <path
          style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 158.74999,208.64286 97.51787,6.04761 38.55357,93.73811 -94.49405,-37.04167 z"
          id="path851"/>
      <path
          style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 274.4107,209.3988 33.2619,-79.37499 23.43454,78.61905 -20.41071,91.47022 z"
          id="path853"/>
    </g>
    <g
        id="layer1">
      <g
          style="fill:#ff5722;fill-opacity:1"
          id="g867"
          transform="matrix(1.9258228,0,0,1.9258228,-210.35082,-267.3579)">
        <path
            id="path855"
            d="m 167.41007,264.23492 v 0 l 23.23537,72.07488 132.10825,62.4689 29.10415,-141.0231 -19.72424,-113.01815 -128.542,12.90031 -54.57313,73.68988 -12.72476,-30.0353 v 0 l -3.83823,58.12564 63.46127,-16.82572 v 0 l -37.35021,-5.49566 53.85604,-58.38782 92.72272,-2.21019 25.96181,80.25278 -25.88581,99.79684 -104.89396,-37.05279 z"
            style="fill:#ff5722;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/>
        <path
            id="path859"
            d="m 205.82765,243.2428 v 0 l 49.90567,18.88801 41.92846,74.76264 v 0 l -27.11469,-81.38673 28.67242,-69.24887 v 0 l -39.52695,61.62058 z"
            style="fill:#ff5722;fill-opacity:1;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/>
      </g>
    </g>
  </svg>

</template>

<script>
export default {
  name: "Logo"
}
</script>

<style scoped>

</style>