<template>
  <div>
    <v-row justify="start" class="titleRow">
      <div class="title">Files</div>

      <v-spacer/>

      <v-btn outlined color="primary" small
             @click="onAddFolder()">
        <v-icon left color="primary">mdi-plus</v-icon>
        Folder
      </v-btn>

      <v-btn outlined color="primary" small
             class="ml-3"
             @click="onAddFile()">
        <v-icon left color="primary">mdi-plus</v-icon>
        File
      </v-btn>

    </v-row>

    <v-treeview
        v-model="tree"
        :open="open"
        :items="files"
        item-key=""
        open-on-click
        dense
        transition
    >
      <!-- File icon. Locked files have a red dot. Editable files are on secondary color and uneditable files on primary.
      Files have a type (TEXT, MANIFEST, URL) and as MANIFEST and URL types have generated content, only the TEXT type
      is editable by the user
      -->
      <template v-slot:prepend="{ item, open }">
        <v-badge bordered
                 color="error"
                 :value="item.locked"
                 dot
                 bottom
                 overlap>
          <v-icon :color="getFileColor(item)">
            {{ getFileIcon(item, open) }}
          </v-icon>
        </v-badge>
      </template>

      <!-- Hovering on the label slot in imperfect, there is an uncovered gap between rows, no better solution right now
      Removing the hover makes the UI too dense -->
      <template v-slot:label="{ item }">
        <v-hover v-slot:default="{ hover }">
          <v-row justify="space-between" align="center"
                 class="fileRow"
                 @click="treeItemClick(item)">
            <v-text-field v-if="renamingFile && editedFile === item"
                          v-model="editedFileValue"
                          dense
                          autofocus
                          @focus="$event.target.select()"
                          @keypress.enter="confirmRenameFile(item)"
                          @keydown.esc="cancelRenameFile(item)"
                          @focusout="confirmRenameFile(item)"></v-text-field>
            <span v-if="editedFile !== item || !renamingFile">{{ item.name }}</span>
            <div v-if="hover">
              <v-tooltip top transition="slide-y-reverse-transition" open-delay="500"
                         v-if="(isDirectory(item) || isFileEditable(item)) && !item.locked">
                <template v-slot:activator="{ on }">
                  <v-btn icon @click.stop="renameFile(item)">
                    <v-icon color="primary" v-on="on">mdi-form-textbox</v-icon>
                  </v-btn>
                </template>
                <span>Rename</span>
              </v-tooltip>
              <v-tooltip top transition="slide-y-reverse-transition" open-delay="500"
                         v-if="isFileEditable(item)">
                <template v-slot:activator="{ on }">
                  <v-btn icon @click.stop="editFile(item)">
                    <v-icon color="primary" v-on="on">mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Edit File</span>
              </v-tooltip>
              <v-tooltip top transition="slide-y-reverse-transition" open-delay="500"
                         v-if="!isDirectory(item) && !isFileEditable(item)">
                <template v-slot:activator="{ on }">
                  <v-btn icon @click.stop="editFile(item)">
                    <v-icon color="primary" v-on="on">mdi-eye-outline</v-icon>
                  </v-btn>
                </template>
                <span>View File</span>
              </v-tooltip>
              <v-tooltip top transition="slide-y-reverse-transition" open-delay="500"
                         v-if="isDirectory(item)">
                <template v-slot:activator="{ on }">
                  <v-btn icon @click.stop="onAddFolder(item)">
                    <v-icon color="primary" v-on="on">mdi-folder-plus-outline</v-icon>
                  </v-btn>
                </template>
                <span>Add Folder</span>
              </v-tooltip>
              <v-tooltip top transition="slide-y-reverse-transition" open-delay="500"
                         v-if="isDirectory(item)">
                <template v-slot:activator="{ on }">
                  <v-btn icon @click.stop="onAddFile(item)">
                    <v-icon color="primary" v-on="on">mdi-file-plus-outline</v-icon>
                  </v-btn>
                </template>
                <span>Add File</span>
              </v-tooltip>
              <v-tooltip right transition="slide-x-transition" open-delay="500"
              v-if="!item.locked">
                <template v-slot:activator="{ on }">
                  <v-btn icon @click.stop="deleteFile(item)">
                    <v-icon color="primary" v-on="on">mdi-close</v-icon>
                  </v-btn>
                </template>
                <span>Delete</span>
              </v-tooltip>
            </div>
          </v-row>
        </v-hover>
      </template>

    </v-treeview>

    <!-- Add file dialog.
    Allows to :
     - add new blank text file,
     - load files from the desktop
     - add a file from a remote template
     -->
    <v-dialog v-model="addFileDialog" max-width="700px"
              @keydown.esc="addFileDialog = false"
              autofocus scrollable
              transition="scroll-y-transition">
      <v-card>

        <v-card-title> Add File to <span
            class="primary--text ml-3">{{ this.addFileParent == null ? "/" : this.addFileParent.name }}</span>
        </v-card-title>

        <v-divider/>

        <v-card-text>
          <v-list subheader>
            <v-list-item-group v-model="addFileDialogSelectedFile"
                               color="primary">

              <v-subheader>New File</v-subheader>

              <v-list-item
                  @click="addNewTextFile()"
                  color="primary"
                  class="listItemNewFile"
              >
                <v-list-item-content>
                  <v-list-item-title>New text file</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon left color="primary">mdi-plus</v-icon>
                </v-list-item-action>
              </v-list-item>

              <!-- Not very classy... yep... -->
              <div class="mt-3"/>

              <v-list-item
                  @click="loadFile()"
                  class="listItemLoadFile"
              >
                <v-list-item-content>
                  <v-list-item-title>Load file</v-list-item-title>

                  <p class="grey--text">Text based files only (.txt, .json, .xml, .unity, .asset, etc.). Binaries/Images
                    not
                    supported.</p>
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon left color="primary">mdi-plus</v-icon>
                </v-list-item-action>
                <!-- hidden input, we'll simulate click to display file browsing window -->
                <input type="file" id="loadFileInput" multiple
                       style="position: fixed; top: -100em"
                       @change="loadFileSelected">
              </v-list-item>

              <v-subheader>Templates</v-subheader>

              <v-list-item
                  v-for="(template, i) in templates"
                  :key="i"
                  @click="addFileFromTemplate(template)"
              >
                <v-list-item-content>
                  <v-list-item-title><span class="listFileName">{{ template.file.name }}</span> - {{ template.name }}
                  </v-list-item-title>
                  <p class="grey--text">{{ template.description }}</p>
                  <v-list-item-subtitle>
                    <div class="listItemMeta">
                      <span class="scopeMeta">{{ template.visibility.toUpperCase() }}
                      </span> <span class="persistMeta">{{ template.persist }}
                      </span> <span class="typeMeta">{{ template.file.type.toUpperCase() }}
                      </span>
                    </div>
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon left color="primary">mdi-plus</v-icon>
                </v-list-item-action>
              </v-list-item>

            </v-list-item-group>

          </v-list>
        </v-card-text>

        <v-divider/>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="addFileDialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editFileDialog" max-width="1000px"
              @keydown.esc="cancelEditFile()"
              autofocus
              scrollable
              transition="scroll-y-transition">
      <v-card>
        <v-card-title>
          <span class="headline">{{ this.editedFile != null ? this.editedFile.name : "" }}</span>
        </v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <prism-editor
              :class="$vuetify.theme.dark ? 'my-editor-dark' : ' my-editor'"
              v-model="editedFileValue"
              :readonly="!isFileEditable(editedFile)"
              :highlight="highlighter" line-numbers
              @keydown.ctrl.enter="confirmEditFile()"></prism-editor>
        </v-card-text>

        <v-divider/>

        <v-card-actions v-if="isFileEditable(editedFile)">
          <v-spacer></v-spacer>
          <v-btn color="secondary" text @click="cancelEditFile()">Cancel</v-btn>
          <v-btn color="primary" text @click="confirmEditFile()">Save</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer></v-spacer>
          <v-btn color="secondary" text @click="cancelEditFile()">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>

// import Prism Editor
import {PrismEditor} from 'vue-prism-editor';
import 'vue-prism-editor/dist/prismeditor.min.css';

// import highlighting library
import {highlight, languages} from 'prismjs/components/prism-core';
import 'prismjs/components/prism-clike';
import 'prismjs/components/prism-javascript';
import 'prismjs/themes/prism-tomorrow.css'; // import syntax highlighting styles

export default {
  name: "ProjectFiles",
  components: {
    PrismEditor
  },
  data: () => ({
    addFileDialog: false,
    addFileDialogSelectedFile: null,
    editFileDialog: false,
    addFileParent: "",
    renamingFile: false,
    editedFile: null,
    editedFileOriginalValue: null,
    editedFileValue: null,
    open: [],
    tree: []
  }),

  mounted() {
    this.$store.state.loading = true;

    // Get local templates
    this.$store.commit("initLocalFileTemplates");

    // Get remote templates
    this.$backend.get('templates/files')
        .then((response) => {
          let remoteTemplates = response.data;

          remoteTemplates.forEach(function (template, index) {
            this[index].persist = "REMOTE";
          }, remoteTemplates);

          this.$store.commit('addFileTemplates', remoteTemplates);

          this.$store.state.loading = false;
        })
        .catch((e) => {

          this.$store.state.loading = false;
          this.$store.commit('showError',
              {
                message: "Error initializing remote file templates",
                details: e.message
              });

        });
  },

  methods: {
    highlighter(code) {
      return highlight(code, languages.js); // languages.<insert language> to return html with markup
    },
    /**
     * Add a file to the project in the parent
     * A null parent will add the file at root level.
     * @param file
     * @param parent
     */
    addFile: function (file, parent) {
      this.getFileChildren(parent).push(file);

      if (parent != null)
        this.open.push(parent.uid);

      this.sortFiles(this.files);
    },

    /**
     * Add a new file based on the template
     * @param template
     */
    addFileFromTemplate: function (template) {
      this.addFile(template.file, this.addFileParent)
      this.addFileDialog = false;
    },

    /**
     * Add a new simple text file
     */
    addNewTextFile: function () {
      let newFile = this.getNewFile("TEXT", "txt", this.addFileParent);
      this.addFile(newFile, this.addFileParent)
      this.addFileDialog = false;
      // Popup needs to close... at least I guess that's why it does not work without timeout
      setTimeout(() => this.renameFile(newFile), 100);
    },

    /**
     * Simulate a click on <input> element to display browsing window to load a file
     */
    loadFile: function () {
      document.getElementById("loadFileInput").value = null;
      document.getElementById("loadFileInput").click();
    },

    /**
     * Listener when the browsing window is closed to handle the file selection.
     * @param ev
     */
    loadFileSelected: function (ev) {
      if (ev.target.files == null || ev.target.files.length == 0)
        return;

      ev.target.files.forEach(f => {
        const reader = new FileReader();

        let fileSize = f.size;
        let sizeLimit = 2000000;
        // Let's limit a bit the maximum size... even though it's client limitation only... shhhhh
        if (fileSize > 2000000) {
          console.error("File Loading : " + fileSize + "octets is TOO BIG. Limit your files to 10Mo maximum please");
          this.$store.commit('showError',
              {
                message: "Size Limit Error",
                details: "The selected file is over the size limit (" + sizeLimit + "octets). It's not the size that matters, choose a smaller one."
              });
        } else {
          reader.onload = this.onFileReaderComplete;
          reader.fileName = f.name;
          // Unity's files aren't read well by the file the reader as text, using base64 bridge
          reader.readAsDataURL(f);
        }
      })


    },

    /**
     * Listener when a selected file content is read to add it to the project.
     * @param e
     */
    onFileReaderComplete: function (e) {
      let fileContent = this.b64_to_utf8(e.target.result.split(',')[1]);
      let newFile = {
        uid: Date.now(),
        locked : false,
        name: e.target.fileName,
        type: "TEXT",
        value: fileContent,
      };
      this.addFile(newFile, this.addFileParent);
      this.addFileDialog = false;
    },


    /**
     * Listener when the button to add a new file is clicked
     * @param file
     */
    onAddFile: function (file) {
      this.addFileDialogSelectedFile = null;
      this.addFileParent = file;
      this.addFileDialog = true;
    },

    /**
     * Listener when the button to add a new folder is clicked
     * @param parent
     */
    onAddFolder: function (parent) {
      let newFolder = this.getNewFile("DIR", "", parent);
      this.addFile(newFolder, parent)
      this.renameFile(newFolder)
    },

    /**
     * Returns the children of the fil.
     * If file is null, returns the project's root files
     * @param file
     * @returns {*}
     */
    getFileChildren: function (file) {
      let children = this.files;
      if (file != null) {
        if (!file.children) {
          this.$set(file, "children", []);
        }
        children = file.children;
      }
      return children;
    },

    /**
     * Generate a new empty file or folder with a unique name and a generated uid
     * @param isFolder
     * @param extension
     * @param parent
     * @returns The new file
     */
    getNewFile: function (type, extension, parent) {
      let isDir = type === "DIR";
      let baseName = isDir ? "new_folder_" : "new_file_";
      let id = 0;
      let newName = baseName + id + (isDir ? "" : "." + extension);
      while (this.getFileChildren(parent).find(f => f.name === newName)) {
        id++;
        newName = baseName + id + (isDir ? "" : "." + extension);
      }

      return {
        uid: Date.now(),
        locked: false,
        name: newName,
        type: type,
        value: isDir ? "" : "This is the place for some amazing content. Right here.",
      };
    },

    /**
     * Opens the dialog to edit the file
     * @param file
     */
    editFile: function (file) {
      this.editedFile = file;
      this.editedFileValue = file.value != null ? file.value : "";
      this.editedFileOriginalValue = file.value;
      this.editFileDialog = true;
    },

    /**
     * Validates the current edited file modifications
     */
    confirmEditFile: function () {
      this.editFileDialog = false;
      this.editedFile.value = this.editedFileValue;
      this.editedFileOriginalValue = null;
    },

    /**
     * Cancels the current edited file modifications
     */
    cancelEditFile: function () {
      this.editFileDialog = false;
      this.editedFile.value = this.editedFileOriginalValue;
    },

    /**
     * Listener when an element of the treeview is clicked
     * @param file
     */
    treeItemClick: function(file){
      if(this.renamingFile || this.isDirectory(file))
        return;
      this.editFile(file);
    },

    /**
     * Activate the rename mode for the file (TextField replaces the label to enable editing)
     * @param file
     */
    renameFile: function (file) {
      this.renamingFile = true;
      this.editedFile = file;
      this.editedFileOriginalValue = file.name;
      this.editedFileValue = file.name;
    },

    /**
     * Validates the current renamed file modifications
     * @param file
     */
    confirmRenameFile: function (file) {
      // confirmRenameFile is called from enter key AND focusout, so it happens
      if (!this.renamingFile)
        return;
      this.renamingFile = false;
      file.name = this.editedFileValue;
      this.editedFileOriginalValue = null;
      this.editedFile = null;

      this.sortFiles(this.files);
    },

    /**
     * Cancels the current renamed file modifications
     * @param file
     */
    cancelRenameFile: function (file) {
      this.renamingFile = false;
      file.name = this.editedFileOriginalValue;
      this.editedFile = null;
    },

    /**
     * Deletes the file
     * @param file
     */
    deleteFile: function (file) {
      // Recursively search for file to remove it from array (we don't keep parent attribute)
      function searchFileForDelete(file, files) {
        if (files == null || files.length === 0)
          return;

        for (let i = 0; i < files.length; i++) {
          let f = files[i];
          if (f === file) {
            let index = files.indexOf(file);
            files.splice(index, 1);
          } else {
            searchFileForDelete(file, f.children);
          }
        }
      }

      searchFileForDelete(file, this.files);

      this.$store.commit('showConfirmation', "File " + file.name + " deleted")
    },

    /**
     * Returns the color to use to display the file
     * editable : secondary
     * uneditable : primary
     * (Should be added late) accent color : Special unity folders (Editor, Assets, etc.)
     * @param file
     * @returns {string}
     */
    getFileColor: function (file) {
      if (this.isDirectory(file))
        return "secondary";

      if (this.isFileEditable(file)) {
        return "secondary";
      }
      return "primary";
    },

    /**
     * Sort project's files alphabetically
     * @param files
     */
    sortFiles: function (files) {

      files.sort(this.compareFiles);

      for (let i = 0; i < files.length; i++) {
        let f = files[i];
        if (this.isDirectory(f) && f.children != null && f.children.length > 0) {
          this.sortFiles(f.children);
        }
      }
    },
  },

  computed: {
    /**
     * The project files in the store
     * Ensure that all files have a uid defined for the treeview
     */
    files: {
      get() {
        if (this.$store.state.project.files != null) {
          this.$store.state.project.files.forEach(function (f) {
            this.setFileUid(f)
          }, this)
        }
        return this.$store.state.project.files;
      },
      set(value) {
        this.$store.commit('updateProjectFiles', value)
      }
    },
    /**
     * The file templates in the store
     */
    templates: {
      get() {
        return this.$store.state.templates.files;
      }
    }
  }
}
</script>

<style scoped>

.my-editor-dark {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: #2d2d2d;
  color: #ccc;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;

  /*margin-top: 50px;*/
}

.my-editor {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: #f5f5f5;
  color: #555;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
}

.prism-editor__textarea:focus {
  outline: none;
}

.titleRow {
  margin: 0;
  padding-bottom: 15px;
}

.fileRow {
  margin: 0;
}

.listItemMeta {
  padding: 0;
  margin: 0;
}

.persistMeta, .scopeMeta, .typeMeta {
  font-size: x-small;
}

.persistMeta {
  color: var(--v-secondary-base);
}

.scopeMeta {
  color: var(--v-primary-base);
}

.typeMeta {
  color: var(--v-accent-base);
}

.listItemNewFile {
  border: solid 1px var(--v-primary-base);
}

.listItemLoadFile {
  border: solid 1px var(--v-secondary-base);
}

.listFileName {
  color: var(--v-primary-base);
}
</style>