<template>
  <v-list>
    <v-subheader>TEMPLATES</v-subheader>

    <v-list-item
        v-for="(template, i) in templates"
        :key="i"
    >
      <v-list-item-content class="listItemContent">
        <!-- Template name and its metadata -->
        <v-list-item-title>
          <v-tooltip top open-delay="1000" transition="fade-transition">
            <template v-slot:activator="{ on }">
              <div class="listItemTitle text-truncate" v-on="on">{{ template.name }}</div>
            </template>
            <span>{{ template.name }}</span>
          </v-tooltip>
          <div class="listItemMeta">
                        <span class="scopeMeta">{{ template.visibility.toUpperCase() }}
                        </span> <span class="persistMeta">{{ template.persist }}
                        </span>
            <v-icon class="versionMeta">mdi-unity</v-icon>
            <span class="versionMeta">{{ getCompleteVersion(template) }}</span>
          </div>
        </v-list-item-title>
      </v-list-item-content>

      <v-list-item-action class="listItemAction">
        <v-row>
          <v-tooltip top transition="slide-y-reverse-transition" open-delay="500">
            <template v-slot:activator="{ on }">
              <v-btn icon :disabled="template.user != null && template.user.admin"
                     @click="deleteTemplate(template)">
                <v-icon color="primary" v-on="on">mdi-close</v-icon>
              </v-btn>
            </template>
            <span>Delete</span>
          </v-tooltip>

          <v-tooltip right transition="slide-x-transition" open-delay="500">
            <template v-slot:activator="{ on }">
              <v-btn icon
                     @click="applyTemplate(template)">
                <v-icon color="primary" v-on="on">mdi-import</v-icon>
              </v-btn>
            </template>
            <span>Apply template</span>
          </v-tooltip>
        </v-row>
      </v-list-item-action>
    </v-list-item>

    <!-- Dialog to save Template
      Using existing name will override current saved template
      Remote save is not available, it needs user creation and authentication.
    -->
    <v-dialog v-model="saveTemplateDialog" max-width="400px"
              transition="scroll-y-transition">
      <v-card>
        <v-card-title>
          <span class="headline">Save Template</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-radio-group v-model="saveTemplatePersist" row>
                  <v-radio label="Local" value="LOCAL"></v-radio>
                  <v-radio label="Remote" value="REMOTE" disabled></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-text-field autofocus label="Name" required v-model="saveTemplateName"
                              @keydown.enter="onSave"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-1" text @click="closeSaveModal()">Cancel</v-btn>
          <v-btn type="submit" color="primary" text @click="onSave">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-list>
</template>

<script>
export default {

  name: "ProjectTemplates",

  data: () => ({
    saveTemplateDialog: false,
    saveTemplateName: "",
    saveTemplatePersist: "LOCAL"
  }),

  watch: {
    /**
     * Updates state's busy field to avoid shortcuts to trigger when a dialog is displayed
     * @param val
     */
    saveTemplateDialog(val) {
      this.$store.state.busy = val;
    }
  },

  methods: {
    /**
     * Initialize the app default project values using the default template
     */
    initDefaultProject: function () {
      let defaultTemplate = null;

      let defaultTemplates = this.templates.filter(t => t.default && t.visibility == "public");
      let privateDefaultTemplates = defaultTemplates.filter(t => !t.user.admin);
      if (privateDefaultTemplates.length > 0)
        defaultTemplate = privateDefaultTemplates[0];
      else if (defaultTemplates.length > 0)
        defaultTemplate = defaultTemplates[0];
      else
        return;

      this.applyTemplate(defaultTemplate);
    },

    /**
     * Applies the template to the project
     * @param template
     */
    applyTemplate: function (template) {

      // Decode the project files from base64 as it's how they are persisted on server
      let decodedProject = this.encodeProjectFiles(template.project, true);

      this.$store.commit('updateProject', decodedProject)
      let versionFound = this.versions.some(ver => {
        if (ver.name == template.project.versionName) {
          this.$store.commit('updateSelectedVersion', ver);
          this.$store.commit('updateProjectVersionSuffix', ver.suffix);
          return true;
        }
      });
      if (!versionFound)
        this.$store.commit('updateSelectedVersion', null);
      this.$store.commit('showConfirmation', "Template " + template.name + " applied")
    },

    /**
     * Delete the template (only locally for the moment)
     * @param template
     */
    deleteTemplate: function (template) {
      this.$store.commit('deleteLocalProjectTemplate', template)
      this.$store.commit('showConfirmation', "Template " + template.name + " deleted")
    },

    /**
     * Closes the save template dialog
     */
    closeSaveModal: function () {
      this.saveTemplateDialog = false;
    },

    /**
     * Open the save template dialog
     */
    saveTemplate: function () {
      this.saveTemplateName = "";
      this.saveTemplateDialog = true;
      this.$store.state.busy = true;
    },

    /**
     * Uses current project configuration to create and save new template (only locally for the moment)
     * @param event
     */
    onSave: function (event = null) {

      if (event.ctrlKey || event.metaKey)
        return;

      let newTemplate = {};
      newTemplate.name = this.saveTemplateName;
      newTemplate.project = this.encodeProjectFiles(JSON.parse(JSON.stringify(this.$store.state.project)));
      newTemplate.persist = this.saveTemplatePersist;
      newTemplate.visibility = "private"
      newTemplate.user = null;
      newTemplate.admin = false;
      newTemplate.default = false;
      this.$store.commit('saveLocalProjectTemplate', newTemplate);
      this.$store.commit('showConfirmation', "Template " + newTemplate.name + " saved")

      this.closeSaveModal();
    },

    /**
     * Returns the complete Unity version (name + suffix) of the template
     * @param template
     * @returns {string}
     */
    getCompleteVersion(template) {
      return template.project.versionName + (template.project.versionSuffix ? "." + template.project.versionSuffix : '');
    }
  },

  computed: {
    /**
     * Project's templates in the store
     */
    templates: {
      get() {
        return this.$store.state.templates.projects;
      }
    },

    /**
     * Unity versions in the store
     */
    versions: {
      get() {
        return this.$store.state.versions;
      }
    },
  },

  mounted() {
    this.$store.state.loading = true;

    // Get local templates
    this.$store.commit("initLocalProjectTemplates");

    // Get remote templates
    this.$backend.get('templates/projects')
        .then((response) => {
          let remoteTemplates = response.data;

          remoteTemplates.forEach(function (template, index) {
            this[index].persist = "REMOTE";
          }, remoteTemplates);

          // Merge remote templates in local templates
          this.$store.commit('addProjectTemplates', remoteTemplates);

          this.initDefaultProject();

          this.$store.state.loading = false;
        })
        .catch((e) => {

          // still initializing project, from locale storage if there are templates
          this.initDefaultProject();

          this.$store.state.loading = false;
          this.$store.commit('showError',
              {
                message: "Error initializing remote project templates",
                details: e.message
              });

        });
  }
}
</script>

<style scoped>


.listItemContent, .listItemMeta, .listItemAction, .listItemTitle {
  padding: 0;
  margin: 0;
}

.persistMeta, .scopeMeta, .versionMeta {
  font-size: x-small;
}

.persistMeta {
  color: var(--v-secondary-base);
}

.scopeMeta {
  color: var(--v-primary-base);
}

.versionMeta {
  color: var(--v-accent-base);
}

</style>