<template>
  <div>
    <v-row justify="start" class="titleRow" align="center">
      <div class="title">Packages</div>

      <v-spacer/>

      <v-btn outlined color="primary" small
             @click="onAddOfficialPackage()">
        <v-icon left color="primary">mdi-plus</v-icon>
        Official
      </v-btn>
      <v-btn outlined color="primary" small
             class="ml-3"
             @click="onAddCustomPackage()">
        <v-icon left color="primary">mdi-plus</v-icon>
        Custom
      </v-btn>
    </v-row>


    <v-list>
      <v-list-item-group>
        <transition-group name="list" tag="p">
          <template v-for="(pkg) in packages">
            <div :key="pkg.name">
              <v-list-item class="listItem">
                <v-list-item-content class="listItemContent">
                  <v-list-item-title class="listItemName" v-text="pkg.name"></v-list-item-title>
                  <v-list-item-subtitle>
                    <span class="listItemType">{{ pkg.type }}</span> <span
                      class="listItemValue">{{ pkg.value }}</span>
                  </v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <div class="listItemActions">
                    <v-btn v-if="pkg.type === 'custom'" icon>
                      <v-icon color="primary"
                              @click.stop="onEditListPackage(pkg)">mdi-pencil
                      </v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon color="primary"
                              @click.stop="onDeleteListPackage(pkg)">mdi-close
                      </v-icon>
                    </v-btn>
                  </div>
                </v-list-item-action>

              </v-list-item>
              <v-divider/>
            </div>
          </template>
        </transition-group>
      </v-list-item-group>
    </v-list>

    <v-dialog v-model="addOfficialPackageDialog"
              @keydown.esc="addOfficialPackageDialog = false"
              autofocus scrollable
              fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-card-title>
          <v-text-field v-if="filteredOfficialPackages.length > 0 || officialPackageSearchInput != ''"
                        id="addOfficialPackageSearchInput"
                        class="headline"
                        placeholder="Search"
                        autofocus
                        v-model="officialPackageSearchInput">

            <template v-slot:append>
              <div>
                <v-fade-transition leave-absolute hide-on-leave>
                  <v-btn icon
                         small
                         v-if="officialPackageSearchInput !== ''"
                         @click.stop="officialPackageSearchInput = ''"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-fade-transition>
                <v-icon color="primary">mdi-magnify</v-icon>
              </div>
            </template>

          </v-text-field>

          <p class="mt-3" v-if="filteredOfficialPackages.length == 0 && officialPackageSearchInput ==''">No
            more packages to display... you used them all, you greedy dev!</p>
          <v-spacer v-if="filteredOfficialPackages.length == 0 && officialPackageSearchInput ==''"/>

        </v-card-title>

        <v-card-text>

          <v-list two-line>
            <v-list-item-group color="indigo">
              <template v-for="(item) in filteredOfficialPackages">
                <div :key="item.name">
                  <v-hover v-slot:default="{ hover }">
                    <v-list-item
                        @click="addOfficialPackage(item)"
                        class="listItem"

                    >
                      <v-expand-transition>
                        <v-overlay
                            absolute
                            :opacity=".1"
                            :value="hover"
                        >
                          <v-btn text class="headline">
                            <v-icon large left>mdi-plus-circle</v-icon>
                            ADD
                          </v-btn>
                        </v-overlay>
                      </v-expand-transition>
                      <v-list-item-content class="listItemContent">
                        <v-list-item-title class="listItemName"
                                           v-text="item.name"></v-list-item-title>
                        <v-list-item-subtitle>
                          <span class="listItemType">{{ item.type }}</span> <span
                            class="listItemValue">{{ item.value }}</span>
                        </v-list-item-subtitle>
                      </v-list-item-content>

                    </v-list-item>
                  </v-hover>
                  <v-divider></v-divider>
                </div>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-row align="center" justify="center">
            <v-btn color="primary" outlined
                   @click="addOfficialPackageDialog = false">Close
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="addCustomPackageDialog"
              @keydown.esc="addCustomPackageDialog = false"
              max-width="500"
              autofocus
              transition="scroll-y-transition">
      <v-card>
        <v-card-title>
          <span class="headline">Add Custom Package</span>
          <v-spacer></v-spacer>
          <v-tooltip top transition="slide-y-reverse-transition" open-delay="200">
            <template v-slot:activator="{ on }">
              <v-btn icon
                     v-on="on"
                     href="https://docs.unity3d.com/Manual/upm-dependencies.html" target="_blank">
                <v-icon>mdi-help</v-icon>
              </v-btn>
            </template>
            <span>Unity doc</span>
          </v-tooltip>
        </v-card-title>


        <v-card-text>
          <v-form
              ref="form"
              v-model="customPackageFormValid">
            <v-text-field v-model="customPackageName"
                          autofocus
                          :rules="[ isNameUnique, ]"
                          required
                          label="Name"
                          aria-required="true"
                          @keypress.enter="addCustomPackage(customPackageName, customPackageValue)"
                          hint="Ex : com.my-package.amazing"
            ></v-text-field>
            <v-text-field v-model="customPackageValue"
                          :rules="[requiredField]"
                          label="Value"
                          required
                          @keypress.enter="addCustomPackage(customPackageName, customPackageValue)"
                          hint="Local or git url"></v-text-field>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="addCustomPackageDialog = false">Close</v-btn>
          <v-btn color="primary" text
                 :disabled="!customPackageFormValid"
                 @click="addCustomPackage(customPackageName, customPackageValue)">Add
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
export default {
  name: "ProjectPackages",
  data: () => ({
    addOfficialPackageDialog: false,
    officialPackageSearchInput: "",
    addCustomPackageDialog: false,
    customPackageName: "",
    customPackageValue: "",
    customPackageFormValid: true,
  }),

  methods: {
    /**
     * Rule method for required fields
     * @param value
     * @returns {boolean|string}
     */
    requiredField: function (value) {
      return !!value || 'Required.';
    },

    /**
     * Rule method checking that the name is unique
     * @param value
     * @returns {string|boolean}
     */
    isNameUnique: function (value) {
      if (value.length === 0)
        return 'Name is required'
      else if (this.packages.find(p => p.name === value))
        return 'Name must be unique'
      else
        return true;
    },

    /**
     * Listener when the Add Official package button is clicked
     */
    onAddOfficialPackage: function () {
      this.addOfficialPackageDialog = true;
      this.officialPackageSearchInput = "";
    },

    /**
     * Listener when the Add Custom package button is clicked
     */
    onAddCustomPackage: function () {
      this.addCustomPackageDialog = true;
      this.customPackageName = "";
      this.customPackageValue = "";
    },

    /**
     * Listener when the edit button is clicked on a custom package
     */
    onEditListPackage: function () {

    },

    /**
     * Listener when the delete button is clicked on a package
     * @param pkg
     */
    onDeleteListPackage: function (pkg) {
      let index = this.packages.indexOf(pkg);
      this.packages.splice(index, 1);
    },

    /**
     * Add the package to the project packages
     * @param pkg
     */
    addOfficialPackage: function (pkg) {
      this.packages.push(pkg);
      // Refocus search input to chain package selection
      document.getElementById("addOfficialPackageSearchInput").focus();
    },

    /**
     * Add the custom package to the project packages
     * @param Name
     * @param value
     */
    addCustomPackage: function (Name, value) {
      let customPackage = {name: Name, type: "custom", value: value};
      this.packages.push(customPackage);
      this.addCustomPackageDialog = false;
      this.customPackageValue = "";
      this.customPackageName = "";
    }
  },

  mounted() {

  },

  computed: {
    /**
     * The project packages in the store
     */
    packages: {
      get() {
        return this.$store.state.project.packages;
      },
      set(value) {
        this.$store.commit('updateProjectPackages', value)
      }
    },

    /**
     * The packages of the selected Unity version
     */
    officialPackages: {
      get() {
        return this.$store.state.selectedVersion.packages;
      }
    },
    /**
     * Returns the official packages without the packages already existing in the project configuration to avoid duplicates
     */
    filteredOfficialPackages() {
      return this.officialPackages.filter(item => {
        if (item == null || item.name == null)
          return false;
        let searchValid = item.name.toLowerCase().indexOf(this.officialPackageSearchInput.toLowerCase()) > -1
            || item.value.toLowerCase().indexOf(this.officialPackageSearchInput.toLowerCase()) > -1
            || item.type.toLowerCase().indexOf(this.officialPackageSearchInput.toLowerCase()) > -1;
        let selected = this.packages.find(pkg => pkg.name === item.name);
        return searchValid && !selected;
      })
    }
  }
}
</script>

<style>

.actions, .actions-dark {
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.actions {
  background-color: #f5f5f5;
}

.actions-dark {
  background-color: #3c3c3c;
}

.titleRow {
  margin: 0;
  padding-bottom: 15px;
}

.fileRow {
  margin: 0;
}


.listItem {
  padding: 0;
  margin: 0;
  height: 30px;
}

.list-enter-active, .list-leave-active {
  transition: all .2s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */
{
  opacity: 0;
  transform: translateX(30px);
}

.listItemActions {
  display: inline;
}

.listItemContent {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.listItemName {
}

.listItemType {
  text-transform: uppercase;
  color: var(--v-primary-base);
}

.listItemValue {
  color: var(--v-accent-base);
}
</style>