<template>
  <v-row>

    <!-- Project Name -->
    <v-col md="3" cols="12">
      <div class="title">Project Name</div>
      <v-text-field class="name-field"
                    value="My Project Name"
                    v-model="name"/>
    </v-col>

    <!-- Unity Version -->
    <v-col md="9" cols="12">
      <div class="title title-inline">
        Unity Version
        <v-tooltip right transition="slide-x-transition">
          <template v-slot:activator="{ on }">
            <v-icon right small color="accent" v-on="on">mdi-help-rhombus-outline</v-icon>
          </template>
          <span>Impacts the list of verified and preview packages <br/> It is also used if you add a ProjectVersion file.</span>
        </v-tooltip>
      </div>
      <div class="version-inline">
        <v-radio-group v-model="selectedVersion" row>
          <v-radio v-for="(version, i) in versions"
                   :label="version.name"
                   :value="version"
                   :key="i"></v-radio>
        </v-radio-group>
        <v-text-field
            prefix="."
            v-model="unityVersionSuffix"
            class="version-suffix"
            label="suffix"
            hint="Example : 3.10f1"
            persistent-hint
        ></v-text-field>
      </div>
    </v-col>
  </v-row>

</template>


<script>
export default {
  name: "ProjectConfig",
  data: () => ({}),
  computed: {
    /**
     * Project's name in the store
     */
    name: {
      get() {
        return this.$store.state.project.name
      },
      set(value) {
        this.$store.commit('updateProjectName', value)
      }
    },

    /**
     * Unity versions in the store
     */
    versions: {
      get() {
        return this.$store.state.versions;
      }
    },

    /**
     * Project's selected version
     */
    selectedVersion: {
      get() {
        return this.$store.state.selectedVersion
      },
      set(value) {
        this.$store.commit('updateSelectedVersion', value)
      }
    },

    /**
     * Project's Unity version suffix
     */
    unityVersionSuffix: {
      get() {
        return this.$store.state.project.versionSuffix
      },
      set(value) {
        this.$store.commit('updateProjectVersionSuffix', value)
      }
    }
  }
}
</script>

<style scoped>

.name-field {
  max-width: 300px;
}

.title-inline, .version-inline {
  display: flex;
}

.version-suffix {
  max-width: 100px;
}

</style>