<template>
    <div>
        <router-view/>

        <!-- Loading overlay. Components activate it by updating the store state. No queuing handled -->
        <v-overlay :value="$store.state.loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>

    </div>
</template>

<script>
    export default {
        name: 'App',

        data: () => ({
            loading: true
        })

    }
</script>

<style>

    a {
        text-decoration: none;
    }

    .title {
        display: flex;
    }

    .title-unity {
        color: var(--v-primary-base);
    }

    .title-initializr {
        color: var(--v-secondary-base);
    }

    .title-bridge {
        color: dimgrey;
        width: 0;
        overflow: hidden;
        transition: width .2s;
    }

    .message {
    }

    .details {
        color: antiquewhite;
    }
</style>
